body {
    font-family: Arial, sans-serif;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#container {
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    
    background-color: #f8f8f8;
    border: 1px solid #000000;
    border-radius: 15px;
}

h2 {
    text-align: center;
}

form {
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button[type="submit"] {
    padding: 10px 20px;
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #ec4f74;
}

p {
    text-align: center;
}

